/* ====== リセット用 ====== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

html,body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    color: #333;
}

/* ====== 共通スタイル ====== */
:root {
    --black: #333;
    --main-blue: #0095ea;
    --site-font-size-14: 14px;
    --site-font-size-16: 16px;
    --site-font-size-18: 18px;
    --site-font-size-20: 20px;
    --site-font-size-22: 22px;
    --site-font-size-24: 24px;
    --site-font-size-28: 28px;
    --site-font-size-32: 32px;
}

.hamburger-icon {
    display: none;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.primary-heading {
    margin-bottom: 36px;
}

.primary-heading span {
    color: var(--main-blue);
    font-size: 24px;
    font-weight: 700;
}

.primary-heading h2 {
    color: #000;
    font-size: 72px;
    font-weight: 800;
    letter-spacing: 0.02em;
    line-height: 72px;
}

/* ====== ヘッダー ====== */
header {
    width: 100%;
    height: 85px;
    padding: 20px 50px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    z-index: 100;
    transition: 0.3s all;
}

header.shadow {
    /* box-shadow: 0 2px 10px 0px rgba(24, 24, 24, 02); */
    box-shadow: 0 0 40px 0 rgba(69,131,175,.3);
}

header h1 img {
    height: 85px;
    width: auto;
}

header ul {
    display: flex;
}

header li:not(:last-of-type) {
    margin-right: 36px;
}

header li a {
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s color;
}

header li:last-of-type a {
    background: var(--main-blue);
    color: #fff;
    padding: 10px 27px;
    border-radius: 100px;
    border: 2px solid var(--main-blue);
    transition: 0.2s background;
}

header li a:hover {
    color: var(--main-blue);
}

header li:last-of-type a:hover {
    background: #fff;
}

/* ====== ヒーローセクション ====== */
#mv {
    margin-top: 85px;
    padding: 0 32px 24px;
    box-sizing: border-box;
    position: relative;
}

/* #mv::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(/img/top_text_img.svg);
    width: 450px;
    height: auto;
} */

#mv img {
    height: 720px;
    width: 100%;
    object-fit: cover;
    border-radius: 32px;
    object-position: top;
    object-fit: cover;
}

#mv p {
    position: absolute;
    bottom: 64px;
    left: 64px;
    color: #fff;
    font-style: italic;
    font-size: 9.975rem;
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 0.3rem;
}

/* ====== サービスセクション ====== */
#service {
    margin-top: 58px;
}

.service-row {
    width: 100%;
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c1c1c1;
    cursor: pointer;
    position: relative;
}

.service-row::before {
    content: "";
    background-color: var(--main-blue);
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    transition: .3s all;
    width: 0;
}

.service-row:hover::before {
    width: 100%;
}

.service-row .service-img {
    margin: 0px 42px 0px 0px;
    height: 280px;
    border-radius: 20px;
    display: block;
    width: calc(47% - 48px);
    max-width: calc(47% - 48px);
    overflow: hidden;
    object-fit: cover;
}

.service-row .service-img img {
    transition: 0.2s all;
}

.service-row:hover img {
    transform: scale(1.05);
}

.service-row div:nth-of-type(2) {
    width: auto;
    /* flex: 1; */
    width: calc(50% - 42px);
}

.service-row div:nth-of-type(2)  p:first-of-type {
    color: var(--main-blue);
    font-weight: 700;
    margin-bottom: 12px;
}

.service-row div  h3 {
    color: var(--black);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    letter-spacing: 0.08em;
}

.service-row div p:last-of-type {
    color: var(--black);
}

.service-row a {
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.service-row span {
    background: var(--main-blue);
    color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

/* ===============================
制作事例セクション
================================== */
#works {
    margin-top: 120px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-container {
    position: relative;
}

.swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    height: auto;
    background: #fff;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.swiper-slide a {
    text-decoration: none;
    color: var(--black);
}

.work-img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.work-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.work-content {
    margin-top: 12px;
}

.work-content .work-category {
    font-size: var(--site-font-size-16);
    font-weight: 700;
    text-indent: 15px;
    position: relative;
}

.work-content .work-category::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background: var(--main-blue);
    border-radius: 100px;
}

.work-content .work-title {
    font-weight: 700;
    font-size: var(--site-font-size-22);
    margin: 8px 0 12px;
}

.work-content .work-desc {
    font-size: var(--site-font-size-14);
}

.work-button {
    display: flex;
    margin: 24px 0 0 auto;
    color: var(--black);
    font-size: var(--site-font-size-16);
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.work-button span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 18px;
    border-radius: 100px;
    background: var(--main-blue);
    color: #fff;
    font-size: var(--site-font-size-14);
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 12px; */
}

.swiper-pagination {
    bottom: -65px!important;
}

.swiper-pagination-bullet {
    width: 1.6rem;
    height: 3px;
    cursor: pointer;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    vertical-align: top;
    background-color: #525252;
    border-radius: 0;
}

.swiper-pagination-bullet-active  {
    width: 4rem;
    background: var(--main-blue);
}
    

/* ====== ニュースセクション ====== */
#news {
    margin-top: 158px;
}

.news-row {
    border-bottom: 1px solid #c1c1c1;
    position: relative;
}

.news-row::after {
    content: "";
    background-color: var(--main-blue);
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    transition: .3s all;
    width: 0;
}

.news-row:hover::after {
    width: 100%;
}

.news-row a {
    display: flex;
    color: var(--black);
    text-decoration: none;
    padding: 30px 0;
}

.news-row .news-left {
    display: flex;
    width: 340px;
    gap: 32px;
    /* background: lightcyan; */
}

.news-row .news-left p:first-of-type {
    display: inline-block;
    font-size: 14px;
    border: 1px solid #c1c1c1;
    padding: 2px 34px;
    border-radius: 100px;
}

.news-row .news-right {
    flex-direction: 1;
    transition: 0.2s all;
}

.news-row:hover .news-right {
    color: var(--main-blue);
}

.news-button {
    display: flex;
    margin: 24px 0 0 auto;
    justify-content: end;
}

.news-button a {
    /* text-align: right; */
    display: flex;
    align-items: center;
    justify-content: end;
    text-decoration: none;
    color: var(--black);
    transition: 0.2s all;
}

.news-button a:hover {
    color: var(--main-blue);
}

.news-button span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 18px;
    background: var(--main-blue);
    color: #fff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ==========================
お問い合わせセクション 
============================= */
#recruit {
    margin-top: 120px;
}

#recruit .container {
    background: var(--main-blue);
    border-radius: 50px;
}

.recruit-container {
    padding: 60px 40px;
    display: flex;
}

.recruit-left {
    width: 450px;
    margin-right: 42px;
}

.recruit-text p:first-of-type {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

.recruit-text p:nth-of-type(2) {
    color: #fff;
    font-size: 42px;
    font-weight: 800;
    line-height: 1.49;
    letter-spacing: 0.02em;
    margin: 31px 0 52px 0;
}

.recruit-button {
    display: flex;
    /* margin: 24px 0 0 auto;
    justify-content: end; */
}

.recruit-button a {
    /* text-align: right; */
    display: flex;
    align-items: center;
    justify-content: end;
    text-decoration: none;
    color: var(--black);
    background: #fff;
    padding: 10px 32px;
    border-radius: 100px;
    transition: 0.2s all;
}

.recruit-button a:hover {
    color: var(--main-blue);
}

.recruit-button span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 18px;
    background: var(--main-blue);
    color: #fff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.recruit-right {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.recruit-img-row {
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 20% 20%;
    grid-template-areas: 
        "A A B"
        "A A B"
        "C D D"
        "C D D";
    gap: 10px;
}

.recruit-img-row div:first-of-type {
    grid-area: A;
}

.recruit-img-row div:nth-of-type(2) {
    grid-area: B;
}

.recruit-img-row div:nth-of-type(3) {
    grid-area: C;
}

.recruit-img-row div:last-of-type {
    grid-area: D;
}

.recruit-img-row div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .contact-img-row:first-of-type {
    margin: -12px 0 0 0;
}

.contact-img-row:last-of-type {
    margin: 32px 0 0 0;
}

.contact-img-row:first-of-type .img-top {
    width: 105%;
    margin-bottom: 14px;
}

.contact-img-row:first-of-type .img-bottom {
    width: 85%;
}

.contact-img-row:last-of-type .img-top {
    width: 85%;
    margin-bottom: 14px;
}

.contact-img-row:last-of-type .img-bottom {
    width: 105%;
} */

.recruit-img-row img {
    border-radius: 20px;
}

/* ==========================
フッターセクション 
============================= */
footer {
    width: 100%;
    padding: 75px 120px;
    margin-top: 100px;
    border-top: 1px solid #c1c1c1;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-row:not(:last-of-type) {
    margin-right: 48px;
}

footer .footer-left img {
    width: 200px;
}

.footer-company {
    margin-top: 20px;
}

.footer-company .footer-info:not(:last-of-type) {
    margin-bottom: 20px;
}

.footer-company .company-name {
    font-weight: 700;
    font-size: var(--site-font-size-16);
    margin-bottom: 10px;
}

.footer-company .company-address {
    font-size: var(--site-font-size-14);
    line-height: 2;
}

.footer-right {
    display: flex;
}

.footer-right a {
    color: var(--black);
    font-size: var(--site-font-size-16);
    text-decoration: none;
    font-weight: 500;
}

.footer-title {
    font-weight: 500;
    margin-bottom: 14px;
}

.footer-items {
    display: flex;
    flex-direction: column;
}

.footer-items a {
    margin-bottom: 14px;
    cursor: pointer;
    transition: 0.2s all;
}

.footer-items a:hover {
    color: var(--main-blue);
}

.footer-links .footer-items a {
    font-size: var(--site-font-size-14);
    position: relative;
    margin-left: 6px;
    text-indent: 12px;
    margin-bottom: 14px;
}

.footer-links .footer-items a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 10px;
    height: 2px;
    background: var(--black);
    transform: translateX(-50%);
}

/* =================================
タブレット類　768px 
 =================================== */
@media screen and (max-width: 1140px) {
    /* ====== 共通スタイル ====== */
    .container {
        width: 1080px;
        max-width: calc(100% - 128px);
        margin: 0 auto;
    }

    .primary-heading {
        margin-bottom: 36px;
    }

    .primary-heading span {
        color: var(--main-blue);
        font-size: 24px;
        font-weight: 700;
    }

    .primary-heading h2 {
        color: #000;
        font-size: 72px;
        font-weight: 800;
        letter-spacing: 0.02em;
        line-height: 72px;
    }

    header {
        padding: 20px 50px;
        position: fixed;
    }
    
    header h1 img {
        height: 65px;
        width: auto;
    }

    header li:not(:last-of-type) {
        margin-right: 28px;
    }

    header li a {
        font-size: var(--site-font-size-14);
    }

    /* トップ画像セクション */
    #mv p {
        position: absolute;
        bottom: 64px;
        left: 64px;
        color: #fff;
        font-style: italic;
        font-size: 13vw;
        font-family: "Noto Sans", sans-serif;
        font-weight: 800;
        line-height: 1;
        letter-spacing: 0.3rem;
    }

    /* #mv img {
        height: 720px;
        width: 100%;
        object-fit: cover;
        border-radius: 32px;
        object-position: top;
        object-fit: cover;
    } */

    /* サービスセクション */
    .service-row .service-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .service-row div h3 {
        font-size: var(--site-font-size-28);
    }
}

/* =================================
スマホ　768px 
 =================================== */
@media screen and (max-width: 768px) {
    /* =====================
    共通クラス
    ======================== */
    .container {
        width: 100%;
        max-width: calc(100% - 3em);
        /* padding-right: 1.5em;
        padding-left: 1.5em; */
        margin: 0 auto;
    }
    
    .primary-heading {
        margin-bottom: 20px;
    }
    
    .primary-heading span {
        color: var(--main-blue);
        font-size: 20px;
        font-weight: 700;
    }
    
    .primary-heading h2 {
        color: #000;
        font-size: 36px;
        font-weight: 800;
        letter-spacing: 0.02em;
        line-height: 36px;
    }

    /* =====================
    ヘッダー
    ======================== */

    header {
        height: 75px;
        padding: 20px;
        position: fixed;
    }

    /* ハンバーガーメニュー作成 */
    header nav {
        position: fixed;
        background: var(--main-blue);
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        opacity: 0;
        pointer-events: none;
    }

    header nav.show {
        /* position: fixed;
        background: lightcoral;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh; */
        opacity: 1;
        pointer-events: all;
    }

    header ul {
        display: block;
        padding: 3rem 1.5rem;
    }

    header li a {
        color: #fff;
    }

    .hamburger-icon {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 2px solid var(--main-blue);
        background: #fff;
        z-index: 10;
    }
    
    .hamburger-icon span {
        display: block;
        width: 20px;
        height: 3px;
        background: var(--main-blue);
    }

    .hamburger-icon span:not(:last-of-type) {
        margin-bottom: 12%;
    }

    /* =======================
    mv
    ========================== */
    #mv {
        margin-top: 75px;
        padding: 0 2%;
    }

    #mv img {
        height: 72.2vw;
    }

    #mv p {
        bottom: 3%;
        left: 6%;
        font-size: 12vw;
    }

    /* =======================
    SERVICE
    ========================== */
    .service-row {
        display: block;
    }

    .service-row a {
        display: block;
    }

    .service-row .service-img {
        width: 100%;
        max-width: 100%;
        height: 56.3vw;
    }

    .service-row div:nth-of-type(2) {
        width: 100%;
        max-width: 100%;
        margin-top: 1rem;
    }

    .service-row div:nth-of-type(2) p:first-of-type {
        margin-bottom: 0.4725rem;
    }

    .service-row div h3 {
        font-size: var(--site-font-size-24);
        margin-bottom: 0.725rem;
    }

    .service-row div p:last-of-type {
        font-size: var(--site-font-size-16);
    }

    /* =======================
    WORKS
    ========================== */
    .work-img {
        width: 100%;
        height: 36.5vw;
    }

    .work-content .work-title {
        font-size: var(--site-font-size-18);
    }

    /* =======================
    NEWS
    ========================== */
    .news-row a {
        display: block;
        padding: 22px 0;
    }

    .news-row .news-left {
        width: 100%;
        margin-bottom: 1rem;
    }

    /* =======================
    RECRUIT
    ========================== */
    .recruit-container {
        padding: 2rem 1.25rem;
        display: block;
    }

    .recruit-left {
        width: 100%;
        margin-right: 0;
    }

    .recruit-text p:first-of-type {
        font-size: var(--site-font-size-20);
    }

    .recruit-text p:nth-of-type(2) {
        font-size: var(--site-font-size-28);
        margin: 1rem 0 1.2rem 0;
    }

    .recruit-right {
        margin-top: 1.5rem;
    }

    .recruit-img-row {
        width: 100%;
        max-width: 100%;
        grid-template-columns: 50%;
    }

    /* =======================
    FOOTER
    ========================== */
    footer {
        padding: 3rem 1.275rem;
    }

    .footer-container {
        display: block;
    }

    .footer-company .footer-info:not(:last-of-type) {
        margin-bottom: 1.125rem;
    }

    .footer-right {
        display: block;
        margin-top: 1.5rem;
    }

    .footer-row:not(:last-of-type) {
        margin-right: 0;
    }

    .footer-row.footer-links {
        margin-bottom: 1.125rem;
    }
}